
@media (min-width: 1024px){
    .img-info{
        margin: 0 10px;
    }
    .info-avatar{
        display: flex;
    }
}
.img-avatar{
    width: inherit;
}
@media (max-width: 375px){
    .img-info{
        margin: auto;
    }
}
.img-info{
    width: 150px;
    background: #fff;
    border-radius: 50%;
}
/* page2 */
.page2 ul > li {
    font-size:14px;
    color: #b9b9b9;
}