
@media (min-width: 1024px){
    .img-info{
        margin: 0 10px;
        width: 150px;
        height: 150px;
    }
    .info-avatar{
        display: flex;
    }
    .page2 ul > li {
        font-size: 14px;
        color: #b9b9b9;
    }
}
.img-avatar{
    width: inherit;
}
@media (max-width: 375px){
    .img-info{
        margin: auto;
        display: block;
        width: 100px;
        height: 100px;
    }
    .main_page section.page1 .page_container {
		top: 15%;
	}
    .page1 h1{
        text-align: center;
        font-size:20px;
        float: unset;
        margin-top: 10px;
        margin-bottom: 0px !important;
        letter-spacing: 1px;
    }
    .page1 h2{
        width: auto !important;
        text-align: center;
    }
    .page1 .person >div {
        margin-top: 10px;
    }
    .page1 .person > div > span{
        font-size: 14px !important;
    }
    .page1 .person > div{
        font-size: 16px !important;
    }
    .page1 .contact .btn{
        display: none;
    }
    .page1 .contact > div > span{
        font-size: 14px !important;
    }
    .page1 .contact > div{
        margin-top: 10px;
        font-size: 16px !important;
    }
    /*page 2*/
    .page2 h1{
        text-align: center;
        font-size: 35px;
        float: unset;
        margin-top: 5px;
        margin-bottom: 5px !important;
        letter-spacing: 1px;
    }
    .page2 h2{
        width: auto !important;
        text-align: center;
    }
    .page2 h2 {
        text-align: left;
        margin-bottom: 5px !important;
    }
    .page2 ul > li {
        font-size: 13px !important;
        color: #b9b9b9;
    }
    
}
@media (min-width: 376px){
    .img-info{
        margin: auto;
        display: block;
        width: 120px;
        height: 120px;
    }
    /*page 1*/
    .main_page section.page1 .page_container {
		top: 5%;
	}
    .page1 h1{
        text-align: center;
        font-size:30px;
        float: unset;
        margin-top: 10px;
        margin-bottom: 0px !important;
        letter-spacing: 1px;
    }
    .page1 h2{
        width: auto !important;
        text-align: center;
    }
    .page1 .person >div {
        margin-top: 10px;
    }
    .page1 .person > div > span{
        font-size: 16px !important;
    }
    .page1 .person > div{
        font-size: 18px !important;
    }
    .page1 .contact .btn{
        display: none;
    }
    .page1 .contact > div > span{
        font-size: 16px !important;
    }
    .page1 .contact > div{
        margin-top: 10px;
        font-size: 18px !important;
    }
    .page1 .contact .social{
        max-width: max-content !important;
        margin: auto !important;
        margin-top: 20px !important;
    }
    
    /*page 2*/
    .page2 h1{
        text-align: center;
        font-size: 35px;
        float: unset;
        margin-top: 10px;
        margin-bottom: 15px !important;
        letter-spacing: 1px;
    }
    .page2 h2{
        width: auto !important;
        text-align: center;
    }
    .page2 h2 {
        text-align: left;
    }
    .page2 ul > li {
        font-size: 13px !important;
        color: #b9b9b9;
    }
}
.img-info{
    background: #fff;
    border-radius: 50%;
}
/* page2 */
.page2 ul > li {
    font-size: 14px;
    color: #b9b9b9;
}