@import url(https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:wght@100&display=swap);
 input[type="radio"] {
	 display: none;
}
 input[type="radio"]#section1:checked ~ nav label[for="section1"] {
	 background-color: white;
}
 input[type="radio"]#section1:checked ~ section:nth-of-type(1) {
	 z-index: 1;
	 top: 0;
	 transition: top 0.5s ease-in-out;
	 transition-delay: 0s;
}
 input[type="radio"]#section1:checked ~ .cover {
	 background-color: #f8b195;
}
 input[type="radio"]#section2:checked ~ nav label[for="section2"] {
	 background-color: white;
}
 input[type="radio"]#section2:checked ~ section:nth-of-type(2) {
	 z-index: 1;
	 top: 0;
	 transition: top 0.5s ease-in-out;
	 transition-delay: 0s;
}
 input[type="radio"]#section2:checked ~ .cover {
	 background-color: #c06c85;
}
 input[type="radio"]#section3:checked ~ nav label[for="section3"] {
	 background-color: white;
}
 input[type="radio"]#section3:checked ~ section:nth-of-type(3) {
	 z-index: 1;
	 top: 0;
	 transition: top 0.5s ease-in-out;
	 transition-delay: 0s;
}
 input[type="radio"]#section3:checked ~ .cover {
	 background-color: #6c5c7c;
}
 input[type="radio"]#section4:checked ~ nav label[for="section4"] {
	 background-color: white;
}
 input[type="radio"]#section4:checked ~ section:nth-of-type(4) {
	 z-index: 1;
	 top: 0;
	 transition: top 0.5s ease-in-out;
	 transition-delay: 0s;
}
 input[type="radio"]#section4:checked ~ .cover {
	 background-color: #345d7e;
}
 .nav {
	 position: fixed;
	 z-index: 2;
	 right: 30px;
	 top: 50%;
	 transform: translateY(-50%);
}
 .nav__item {
	 width: 12px;
	 height: 12px;
	 display: block;
	 margin: 12px auto;
	 border: solid 2px white;
	 border-radius: 50%;
	 cursor: pointer;
}
 .nav__item:hover {
	 background-color: white;
}
 section {
	 height: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: absolute;
	 top: 100%;
	 right: 0;
	 left: 0;
	 transition-delay: 0.5s;
}
 section:nth-of-type(1) {
	 background: #f8b195;
}
 section:nth-of-type(2) {
	 background: #c06c85;
}
 section:nth-of-type(3) {
	 background: #6c5c7c;
}
 section:nth-of-type(4) {
	 background: #345d7e;
}
 .cover {
	 position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index: -1;
}
 html, body {
	 height: 100%;
}
 body {
	 overflow: hidden;
	 color: white;
	 font: 100% "Be Vietnam Pro", cursive;
}
 h1 {
	 font-size: 6em;
	 text-align: center;
}
 